.chatBox-frh{
  height: 100vh;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  display: grid;
  grid-template-rows: 15% 45% 23%;
  gap: 5%;  
}
.chatBox-frh header {
  padding: 30px 0px 30px 0px;
}
.chatBox-frh header > * {
  display: inline-block;
  vertical-align: top;
}
.chatBox-frh header img:first-child {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.chatBox-frh header .textFrh {
  margin-left: 10px;
  margin-right: 55%;
  padding-top: 18px;
}
.chatBox-frh header h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
.chatBox-frh header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}
.chatBox-frh header Button{
  margin-top: 12%;
  font-weight: bold;
  margin-left: 20px;
}
/* /* .chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  height: 300px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border: none; /*add*/
/* }  */
.header-frh Button{
  font-weight: bold;
  padding: 3px;
}
.chatBox-frh header .sb-avatar__text{
  border-radius: 50%;
}
.chat li {
  padding: 10px 30px;
}
.chat .entete {
  margin-top: 17px;
  margin-bottom: 5px;
}
.chat h2{
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}
.chat .message {
  padding: 6px;
  color: rgb(0, 0, 0);
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 15px;
}
.chat .your-partner .message {
  background-color: #cfbadf;
}
.chat .me .message {
  background-color: #ecddf8;
  float: right;
  margin-right: 30px;
}
.chat .me .entete h2{
  margin-left: 825px;
}
.scrolling-frh{
  overflow-y: scroll;
}
.footerIcon {
  background-color: rgb(211, 236, 240);
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
  padding: 25px;
}
.footerIcon .textarea {
  resize: none;
  border: none;
  display: block;
  width: 100%;
  height: 90px;
  border-radius: 3px;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 13px;
  background-color: #ade0e9; /* add */
  color: rgb(0, 0, 0);
}
.footerIcon .textarea::placeholder {
  color: rgba(0, 0, 0, 0.767);
  font-size: 15px;
}
.footerIcon img {
  height: 30px;
  cursor: pointer;
  margin-left: 15px;
}
.footerIcon Button {
  /* text-decoration:none;
    text-transform:uppercase; */
  font-weight: bold;
  vertical-align: top;
  margin-left: 20px;
  margin-top: 10px;
  /* display:inline-block; */
}

