.mynav {
  position: absolute;
  right: 0;
  width:74px;
  height: 100%;
  /* background-image: url('./assets/backk222.jpg'); */
  background-color: #ade0e9;
  box-shadow: -11px 8px 20px -13px rgba(0,0,0,0.30);
  background-repeat: round;
  border-radius: 7px 0 0 7px;  
  z-index: 100;
}

ul, li {
  display: inline;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icons li:nth-child(1) {
  margin-top: 2.5em;
  margin-bottom: 5em;
  background-color: rgb(211, 236, 240);

}

.icons li {
  padding: 1.2em 1.5em;
  box-shadow: 5px 5px 15px -15px #000000;
}

.icons li:hover {
  background-color: rgb(211, 236, 240);
  cursor: pointer;
}

/* .d-inline .mx-2{
  width: 20px;
}

.d-inline .mx-2 .dropdown-menu .show{
  width: 100px;
} */

/************************************************************************************/
.dropdown-toggle{
  text-align: center;
  padding: auto;
}
.bell-frh{
  color: rgb(255, 255, 255);
  margin-bottom: -10px;
  margin-left: 10px;
  background-color: rgb(180, 28, 28);
  border-radius: 50%;
  height: 24px;
  width: 23px;
  text-align: center;
}
.dropdown-menu{
  background-color: rgb(173 224 233);
  border-radius: 5px;
  overflow-y: scroll;
  height: 30%;
  width: 320px;
  align-items: center;
  padding: 18px;
}
.dropdown-header{
  height: 20px;
  margin-top: 10px;
  font-weight: bolder;
  color: #000000;
  font-size: 20px;
  padding-left: 10px;
}
.dropdown-item {
    width: 290px;
    font-size: bold;
    color: #000000;
    border-radius: 10px;  
    padding: 12px;
    margin-top: 10px;
    font-size: 15px;
    background-color: rgb(211, 236, 240);
}
.dropdown-item:hover{
  color: #252323c2;
  cursor: pointer;
}
.new-old{
  background-color: #0b6a7a;
}


